@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');
@import url('https://use.typekit.net/clx1knz.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  min-height: calc(100% + env(safe-area-inset-top));
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}

body {
  margin: 0;
  font-family: 'IM Fell French Canon', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: #ece9e9;
  /* display: flex; */
  justify-content: center;
  height: 95vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text {
  font-style: italic;
  font-size: larger;
}

.form {
  /* background-color: #15172b; */
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  font-style: italic;
  font-size: 80px;
  font-weight: 600;
}

.video-title {
  font-style: italic;
  font-size: calc(30px + 8vw);
  font-weight: 600;
  margin-bottom: calc(10px + 5vw);
}

.video-subtitle {
  font-size: calc(6px + 1.5vw);
  margin-bottom: calc(45px + 3vw);
}

.video-navlink {
  font-size: calc(15px + 1.2vw);
  margin-bottom: calc(10px + 2vw);
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.2rem;
}

.video-navlink:hover {
  scale: 110%;
}

.logo {
  margin-top: 20px;
  width: 60%;
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  letter-spacing: 0.025em;
}

.subtitle-larger {
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #dedede;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(72, 70, 70);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  font-family: sans-serif;
}

.cut {
  /* background-color: #15172b; */
  border-radius: 10px;
  height: 20px;
  left: 0px;
  position: absolute;
  top: -2px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 300px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(-38px);
}

.placeholder {
  color: #86868a;
  font-family: sans-serif;
  font-weight: 800;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}


.submit {
  background-color: #4d4a4a;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 30px;
  outline: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-family: sans-serif;
}

.submit:active {
  background-color: #6f6c6c;
}

.submit:hover {
  scale: 103%;
}

.modify-res:active {
  background-color: #6f6c6c;
}

.modify-res:hover {
  scale: 103%;
}

.light-submit:active {
  background-color: rgb(173, 170, 170);
}

.light-submit:hover {
  scale: 103%;
}

.make-res:active {
  background-color: rgb(173, 170, 170);
}

.make-res:hover {
  scale: 103%;
}

.timeslot:active {
  background-color: rgb(173, 170, 170);
}

.timeslot:hover {
  scale: 103%;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.label {
  color: #eee;
  font-family: sans-serif;
  left: 25px;
  font-size: 16px;
  pointer-events: none;
  transition: transform 200ms, color 200ms;
}

.column {
  display:flex;
  align-items: center;
  justify-items: center;
}

.about-p {
  font-family: 'Soleil';
  text-align: left;
  font-size: 20px;
  text-align: justify;
}

.make-res {
  background-color: #dedede;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 30px;
  outline: 0;
  text-align: center;
  font-weight: bold;
  width: 70%;
  font-family: sans-serif;
}

.make-res-full {
  background-color: #dedede;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 30px;
  outline: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-family: sans-serif;
}

.make-res-full:active {
  background-color: rgb(173, 170, 170);
}

.make-res-full:hover {
  scale: 103%;
}

.light-submit {
  background-color: #d5d5d5;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 30px;
  outline: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-family: sans-serif;
}

.modify-res {
  background-color: #4d4a4a;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 30px;
  outline: 0;
  text-align: center;
  font-weight: bold;
  width: 70%;
  font-family: sans-serif;
}

.timeslot {
  background-color: #dedede;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 25px;
  height: 50px;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-family: sans-serif;
}

select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.active{
  border-bottom: solid white 3px;
}

.available-cell {
  background-color: white;
}

.booked-cell {
  background-color: black;
}

.signup-button {
  background-color: #d5d5d5;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 22px;
  height: 35px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}